@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;

  src: url('./fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('./fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('./fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;

    src: url('./fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Light/Roboto-Light.woff') format('woff'), url('./fonts/Roboto-Light/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;

    src: url('./fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'), url('./fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    src: url('./fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('./fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: url('./fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('./fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
}

